extends layout
block content
    .container 
        .row.margin-auto 
            .col-lg-12.body_biggcard.d-lg-flex 
             if data
                .images.col-lg-6
                    img(src= "images/"+ data.img, alt="")
                .product.col-lg-6
                    .asd 
                        p Kategoriyasi:  
                        p= data.category
                    .asd 
                        h1 Nomi:  
                        h1= data.title 
                    .asd 
                        h2 Narxi:  
                        h2= data.price 
                                | $
                    .asd.back_gr 
                        .product_box
                            p Avtor:  
                            p.desc= user.names
                        .product_box
                            p telfon nomer:  
                            p.desc= user.phone
                   



    